<div style="background-color: white">
<table>
    <tr>
        <th>
            Lock
        </th>
        <th>
            Blink
        </th>
        <th>
            Tag
        </th>
       
    </tr>
    <tr>
        <td>
            <span  [ngClass]="lockClass"   (click)="changeLoack()">

            </span>
        </td>
        <td  class="test blinking">
            3
        </td>
        <td>
          <span class="tooltipT rightT">  
            <i class="fa fa-tags"></i>
          </span>                      
        </td>
        
    </tr>
    
</table>
</div>

